html {
    scroll-behavior: smooth;
    scroll-padding-top: 28px;
}

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}


/* Awal Containber Header */
.container-header {
    display: flex;
    padding: 20px 98px;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    column-gap: 1rem;
    border-bottom: 1px solid #9C8AF0;
    box-shadow: 0px 1px 2px 0px rgba(156, 138, 240, 0.45);
}

/* Awal Link Container */

.logo-container {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.logo-container img {
    height: 30px;
}

.logo-container h1 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

nav.navbar ul {
    display: flex;
    gap: 24px;

    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav.navbar ul li a {
    padding: 0.5rem 1rem;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: all 0.2s ease-in-out;
}

nav.navbar ul li a:hover {
    background-color: #5940CB;
    color: white;
}


/* Akhir Link Container */

/* Awal Button Container */
.button-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.button-container .primary {
    padding: 10px 24px;
    font-weight: 700;


    border: none;
    border-radius: 8px;
    color: white;
    background: #5940CB;
    box-shadow: 5px 8px 12px 0px rgba(156, 138, 240, 0.50);
}

.button-container .secondary {
    padding: 10px 24px;
    background-color: #fff;
    font-weight: 700;


    border-radius: 8px;
    border: 1.5px solid #5940CB;
}



/* Awal Main Content */
main {
    padding: 60px 98px;
}

main .content-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content .main-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

main .content .main-hero h1 {
    color: #0E0D13;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

main .content .main-hero p {
    font-size: 16px;
    letter-spacing: 0.32px;
}

main .content .main-hero button {
    border-radius: 8px;
    background: #5940CB;
    box-shadow: 7px 10px 18px 0px rgba(156, 138, 240, 0.60);
    color: white;

    margin-top: 28px;
    padding: 16px 24px;
    border: none;

    font-weight: 700;
}


main .content .main-image img {
    height: 300px;
}

/* Akhir Main Content dan Main Image */

/* Awal Second content whywe? */
main .second-content {
    padding: 24px 24px 48px 24px;
    margin-top: 160px;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 12px;
    background: #6543FC;
    color: white;
    box-shadow: 7px 10px 18px 0px rgba(156, 138, 240, 0.60);
}

main .second-content .alasan-memilih {
    display: flex;
    margin-top: 48px;

    gap: 2rem;
}

main .second-content .alasan-memilih .lulusan,
main .second-content .alasan-memilih .alumni,
main .second-content .alasan-memilih .mitra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 1.2rem;
}

/* Akhir Second content whywe? */


/* Awal Style Cari Pilihan Bootcamp */
main .card-content {
    margin-top: 160px;
}

main .card-content p {
    margin-bottom: 38px;
}

main .card-content #cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 12px;
}

main .card-content #cardContainer .card {
    flex: 1 0 calc(15% - 20px);
    box-sizing: border-box;
    text-align: center;

    padding-top: 8px;
    border-radius: 8px;
    border: 1px solid rgba(156, 138, 240, 0.25);
    background: rgba(156, 138, 240, 0.15);
    box-shadow: 7px 10px 12px 0px rgba(156, 138, 240, 0.25);

}

main .card-content #cardContainer .card img {

    width: 250px;
    height: 200px;
}

/* Akhir Style Cari Pilihan Bootcamp */


/* Benefit section */
main .benefit-section {
    margin-top: 160px;

    width: 100%;
}

main .benefit-section img {
    height: 310px;
}

main .benefit-section p {
    margin-bottom: 38px;
}

main .benefit-section .mentor {
    display: flex;
    align-items: center;
}

main .benefit-section .kurikulum {
    display: flex;

    align-items: center;
}

main .benefit-section .kurikulum .left-kurikulum {
    order: -1;
}

main .benefit-section .terhubung {
    display: flex;

    align-items: center;
}

/* Event Content CSS */
main .event-content {
    margin-top: 160px;
    border-radius: 12px;

    background: rgba(156, 138, 240, 0.15);
    width: 100%;
}

main .event-content h1 {
    padding: 12px 0 0 12px;
}

main .event-content p {
    margin-bottom: 38px;

    padding: 0 0 0 12px;
}

main .event-content .event-card {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

main .event-content .event-card img {
    height: 230px;
}

/* Syling aside */
aside {
    display: flex;
    column-gap: 24px;
    margin: 100px 0;
}

aside .biodata-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    background-color: rgba(156, 138, 240, 0.15);

    border-radius: 16px;
    padding: 12px;
}

aside .biodata-card h2 {
    margin-bottom: 12px;

    font-size: 2.5rem;
}

aside .biodata-card img {
    border-radius: 50%;
    margin: 16px 0;
}

aside .biodata-card span {
    padding: 8px 24px;

    border: 2px solid #5940CB;
    border-radius: 12px;
}

aside .biodata-card .deskripsi {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

aside .biodata-card .deskripsi ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 12px;
}

aside .biodata-card .deskripsi ul li {
    font-size: 25px;
}

aside .tentang {
    background-color: rgba(156, 138, 240, 0.15);

    border-radius: 16px;
    padding: 32px;
    flex: 2;
}

aside .tentang h1 {
    font-size: 2rem;

    margin-bottom: 12px;
}

aside .tentang .tentang-deskripsi {
    display: flex;
    gap: 24px;
    flex-direction: column;

}

aside .tentang .tentang-deskripsi h3 {
    margin-bottom: 12px;
}

aside .tentang .tentang-deskripsi .membedakan p {
    margin-bottom: 8px;
}

aside .tentang .tentang-deskripsi .membedakan span {
    font-weight: 700;
}

/* Styling Footer */
footer {
    width: 100%;
    height: 250px;
    padding-top: 32px;

    display: flex;
    justify-content: space-around;

    color: white;
    border-top: 1px solid #9C8AF0;
    background: #5940CB;
    box-shadow: 0px -2px 2px 0px rgba(156, 138, 240, 0.45);
}


footer a {
    text-decoration: none;
    color: #ffffffb5;
}

footer div h2 {
    margin-bottom: 12px;
}

footer .situs button {
    padding: 8px 20px;
    margin-right: 12px;

    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
}


footer .ketentuan div {
    display: flex;
    flex-direction: column;
}





/* Responsive Navbar */
@media screen and (max-width: 1024px) {
    main {
        padding: 60px 48px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 60px 28px;
    }

    main aside .biodata-card img {
        height: 150px;
    }

    main aside .biodata-card span {
        padding: 6px;
        font-size: 12px;
    }

    main .event-content .event-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-header {
        flex-direction: column;
        padding: 12px;
    }

    .container-header .navbar {
        margin-top: 8px
    }

    .button-container {
        display: none;
    }

    main .content-hero {
        flex-wrap: wrap;
    }

    main .content .main-image {
        order: -1;
    }

    main .second-content .alasan-memilih {
        display: flex;
        flex-direction: column;
    }

    main .benefit-section .mentor,
    main .benefit-section .kurikulum,
    main .benefit-section .terhubung {
        display: flex;
        flex-direction: column;
    }

    main .benefit-section h2 {
        font-size: 1.2rem;

        margin-bottom: 12px;
    }

    main .benefit-section p {
        font-size: 14px;
    }

    main .benefit-section div {
        text-align: center;
    }

    main .benefit-section .kurikulum img {
        order: -1;
    }

    main .event-content {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

}

@media screen and (max-width: 426px) {
    main {
        margin: 20px 0;
        padding: 0 20px;
    }

    /* Navbar Responsive */
    .navbar ul {
        font-size: 10px;
    }

    .logo-container img {
        height: 20px;
    }

    .logo-container h1 {
        font-size: 1rem;
    }

    /* Navbar Responsive */

    /* Text hero Responsive */

    main .content .main-hero h1 {
        font-size: 32px;
    }

    main .content .main-hero p {
        font-size: 13px;
    }

    /* Image hero Responsive */
    main .content .main-image img {
        height: 200px;
    }

    main .benefit-section img {
        height: 210px;
    }

    main .event-content {
        padding: 6px;
    }

    aside {
        display: flex;

        flex-direction: column;
        gap: 24px;
        padding: 0 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 32px;
        height: auto;
        padding: 32px 0;
    }

    footer .brand,
    footer .situs,
    footer .ketentuan {
        text-align: center;
    }

}

/* Akhir Responsive Navbar */